.project__section {
  width: 100%;
  // height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.project__container {
  max-width: 78%;
  width: 100%;
  @include _1980-min {
    max-width: 1500px;
  }
  @include _767-max {
    max-width: 85%;
  }
}
.gs-anim {
  opacity: 1;
  will-change: transform;
}

.video-skeleton,
.img-skeleton {
  position: relative;
  z-index: 1;
  background-color: #1e1e1e;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.01) 20%,
      rgba(255, 255, 255, 0.1) 60%,
      rgba(255, 255, 255, 0)
    );
    animation: shimmer 3s infinite;
    z-index: -1;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.remove-skeleton {
  .video-skeleton,
  .img-skeleton {
    background-color: transparent;

    &::after {
      display: none;
    }
  }
}

* {
  @include _767-max {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Webkit (Safari/Chrome) */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
}

/* Prevent image selection */
img {
  @include _767-max {
    user-select: none; /* Standard syntax */
    -webkit-user-drag: none; /* Webkit (Safari/Chrome) */
    -webkit-user-select: none; /* Webkit (Safari/Chrome) */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    // pointer-events: none; /* Disables interactions */
    -webkit-user-drag: none; /* Для браузеров на основе WebKit */
    user-drag: none;
  }
}

a {
  @include _767-max {
    -webkit-user-drag: none; /* Для браузеров на основе WebKit */
    user-drag: none;
  }
}
