<div class="stages__video-play">
    <button class="stages__video-btn">
        <svg width="42" height="47" viewBox="0 0 42 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M40.4026 22.0001C41.5572 22.6667 41.5572 24.3332 40.4026 24.9998L2.84824 46.6819C1.69366 47.3485 0.250427 46.5152 0.250427 45.182V1.81796C0.250427 0.48476 1.69365 -0.348492 2.84824 0.318106L40.4026 22.0001Z" fill="white"/>
        </svg>            
    </button>
</div>
<div class="video-control">
    <div class="video-control__wrapper">
        <div class="video-control__bar">
            <input min="0" max="100" value="0" class="video-control__bar_passive" type="range" />
            <div class="video-control__bar_active"></div>
            <div class="video-control__bar_load"></div>
        </div>
        <div class="video-control__btns">
            <button class="video-control__btn video-control__play">
                <img class="" src="@img/icons/play-video.svg" alt="" />
            </button>
            <button class="video-control__btn video-control__pause">
                <img src="@img/icons/pause-video.svg" alt="" />
            </button>
        </div>
        <div class="video-control__time">
            <p>00:00</p>
        </div>
    </div>
</div>